body {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: #161616;
    background: linear-gradient(
        45deg,
        hsl(277, 50%, 10%),
        hsl(192, 50%, 10%)
    );
}
